html,
body {
  height: 100vh !important;
  padding: 0;
  background: #0b0d17 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Image of SPace moon */
@media screen and (min-width: 1024px) {
  .space-image img {
    width: 445px !important;
    height: 445px !important;
  }
}
/* Image of SPace moon */
