html,
.app-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100%; */
  background-attachment: fixed;
}

/* slide dots */
.slick-dots {
  bottom: 250px !important;
}

.slick-dots li {
  height: 40px !important;
  margin: 0px 16px;
  width: 40px !important;
}
.slick-dots li button:before {
  color: #0B0D17 !important;
  font-size: 16px !important;
  font-family: "Bellefair";
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px !important;
  background: white;
  border-radius: 50%;
}
.slick-dots li:nth-of-type(1) button:before {
  content: "1" !important;
}
.slick-dots li:nth-of-type(2) button:before {
  content: "2" !important;
}
.slick-dots li:nth-of-type(3) button:before {
  content: "3" !important;
}
